# Oireachtas Metadata

Useful metadata for joining with other types of data:
* `/houses` Houses
* `/parties` Parties List
* `/constituencies` Constituencies List

In [1]:
# Commonly useful notebook functions:
import sys
sys.path.insert(0,'../lib')
from common import *

In [5]:
# Load Data from a single file and return dataframe
def cache_metadata(path, chamber_id):
    path_url = "https://api.oireachtas.ie/v1/{}?chamber_id={}&limit=10000".format(path, chamber_id)
    fname = "data/{}/{}.json.xz".format(path, chamber_id.replace('/ie/oireachtas/house/','').replace('/','_'))
    cache_url(path_url, fname)

In [8]:
cache_url("https://api.oireachtas.ie/v1/houses?limit=10000", "data/houses.json.xz")

In [9]:
def house_df(fname):
    with lzma.open(fname, 'rb') as f:
        data = json.loads(f.read().decode('utf-8'))
        records = json.dumps([r for r in data['results']])
        df = pd.read_json(records, orient='records', dtype=False)
        df = flatten_dataframe_columns(df, ['house'])
        return df

In [10]:
df_house = house_df("data/houses.json.xz")
df_house.to_pickle('houses.p.xz', compression='xz')

In [12]:
# preview houses
with lzma.open('data/houses.json.xz', 'rb') as f:
    house_preview = json.loads(f.read().decode('utf-8'))
RenderJSON(house_preview)

In [13]:
for chamber_id in tqdm_notebook(df_house['house.uri']):
    cache_metadata('constituencies', chamber_id)
    cache_metadata('parties', chamber_id)

In [14]:
# preview constituency for dail
with lzma.open('data/constituencies/dail_32.json.xz', 'rb') as f:
    constituency_preview = json.loads(f.read().decode('utf-8'))
RenderJSON(constituency_preview['results']['house'])

In [15]:
# preview panel for seanad
with lzma.open('data/constituencies/seanad_25.json.xz', 'rb') as f:
    constituency_preview = json.loads(f.read().decode('utf-8'))
RenderJSON(constituency_preview['results']['house'])

In [16]:
def meta_df(fname, field1, field2):
    with lzma.open(fname, 'rb') as f:
        data = json.loads(f.read().decode('utf-8'))
        if 'results' not in data:
            print("No Records for", fname, '\n', data)
            return pd.DataFrame()
        records = json.dumps([r for r in data['results']['house'][field1]])
        df = pd.read_json(records, orient='records', dtype=False)
        df = flatten_dataframe_columns(df, [field2])
        return df

In [17]:
df_parties = pd.concat([meta_df(fname, 'parties', 'party') for fname in glob('data/parties/*.json.xz')])
df_constituencies = pd.concat([meta_df(fname, 'constituenciesOrPanels', 'constituencyOrPanel') for fname in glob('data/constituencies/*.json.xz')])   

df_parties.to_pickle('parties.p.xz', compression='xz')
df_constituencies.to_pickle('constituencies.p.xz', compression='xz')

No Records for data/parties/dail_1.json.xz
 {'head': {'counts': {'partyCount': 0, 'resultCount': 0}, 'dateRange': {'start': '', 'end': ''}, 'lang': 'mul'}}

In [18]:
describe_with_top_n(df_house)
describe_with_top_n(df_parties)
describe_with_top_n(df_constituencies)

----------

# house.chamberCode

###  Stats:

        house.chamberCode
count                  61
unique                  2
top                  dail
freq                   32
missing                 0

###  Top N:

        house.chamberCode
dail                   32
seanad                 29

----------

# house.chamberType

###  Stats:

        house.chamberType
count                  61
unique                  1
top                 house
freq                   61
missing                 0

###  Top N:

       house.chamberType
house                 61

----------

# house.dateRange.end

###  Stats:

        house.dateRange.end
count                    59
unique                   59
top              1938-07-22
freq                      1
missing                   2

###  Top N:

            house.dateRange.end
1938-07-22                    1
1957-03-28                    1
1961-09-01                    1
1969-07-24                    1
1989-05-25                    1
1938-05-27                    1
1982-11-04                    1
1977-05-25                    1
1944-05-10                    1
1987-01-21                    1

----------

# house.dateRange.start

###  Stats:

        house.dateRange.start
count                      61
unique                     61
top                1948-04-21
freq                        1
missing                     0

###  Top N:

            house.dateRange.start
1948-04-21                      1
1931-12-06                      1
1944-08-18                      1
1937-07-21                      1
1977-07-05                      1
1957-05-22                      1
1954-06-02                      1
2002-06-06                      1
1932-03-09                      1
1951-06-13                      1

----------

# house.houseCode

###  Stats:

        house.houseCode
count                61
unique                2
top                dail
freq                 32
missing               0

###  Top N:

        house.houseCode
dail                 32
seanad               29

----------

# house.houseNo

###  Stats:

        house.houseNo
count              61
unique             37
top                 5
freq                2
missing             0

###  Top N:

    house.houseNo
5               2
3               2
19              2
20              2
6               2
9               2
23              2
25              2
18              2
11              2

----------

# house.houseType

###  Stats:

        house.houseType
count                61
unique                2
top                dail
freq                 32
missing               0

###  Top N:

        house.houseType
dail                 32
seanad               29

----------

# house.seats

###  Stats:

         house.seats
count      61.000000
mean      107.721311
std        46.680521
min        60.000000
25%        60.000000
50%       128.000000
75%       153.000000
max       166.000000
missing     0.000000

###  Top N:

     house.seats
60            29
166           10
153            5
147            4
144            4
138            4
128            3
158            1
148            1

----------

# house.showAs

###  Stats:

        house.showAs
count             61
unique            61
top      23rd Seanad
freq               1
missing            0

###  Top N:

             house.showAs
23rd Seanad             1
2nd Dáil                1
21st Seanad             1
1934 Seanad             1
14th Seanad             1
5th Dáil                1
1922 Seanad             1
15th Seanad             1
4th Seanad              1
22nd Seanad             1

----------

# house.uri

###  Stats:

                           house.uri
count                             61
unique                            61
top      /ie/oireachtas/house/dail/8
freq                               1
missing                            0

###  Top N:

                                house.uri
/ie/oireachtas/house/dail/8             1
/ie/oireachtas/house/dail/1             1
/ie/oireachtas/house/seanad/5           1
/ie/oireachtas/house/dail/13            1
/ie/oireachtas/house/seanad/20          1
/ie/oireachtas/house/dail/9             1
/ie/oireachtas/house/dail/24            1
/ie/oireachtas/house/dail/11            1
/ie/oireachtas/house/dail/12            1
/ie/oireachtas/house/dail/31            1

----------

# esid

###  Stats:

                                        esid
count                                     61
unique                                    61
top      data-houses-ieoireachtashousedail31
freq                                       1
missing                                    0

###  Top N:

                                         esid
data-houses-ieoireachtashousedail31         1
data-houses-ieoireachtashouseseanad1928     1
data-houses-ieoireachtashousedail1          1
data-houses-ieoireachtashousedail14         1
data-houses-ieoireachtashouseseanad11       1
data-houses-ieoireachtashouseseanad9        1
data-houses-ieoireachtashouseseanad10       1
data-houses-ieoireachtashousedail8          1
data-houses-ieoireachtashousedail2          1
data-houses-ieoireachtashousedail3          1

----------

# party.partyCode

###  Stats:

        party.partyCode
count               356
unique               35
top         Independent
freq                 59
missing               0

###  Top N:

                       party.partyCode
Independent                         59
Labour_Party                        57
Fianna_Fáil                         55
Fine_Gael                           49
Ceann_Comhairle                     26
Clann_na_Talmhan                    14
Progressive_Democrats               12
Sinn_Féin                           12
Cumann_na_nGaedheal                  9
Clann_na_Poblachta                   8

----------

# party.showAs

###  Stats:

        party.showAs
count            356
unique            35
top      Independent
freq              59
missing            0

###  Top N:

                       party.showAs
Independent                      59
Labour Party                     57
Fianna Fáil                      55
Fine Gael                        49
Ceann Comhairle                  26
Clann na Talmhan                 14
Progressive Democrats            12
Sinn Féin                        12
Cumann na nGaedheal               9
Clann na Poblachta                8

----------

# party.uri

###  Stats:

                                        party.uri
count                                         356
unique                                        356
top      /ie/oireachtas/party/dail/27/Fianna_Fáil
freq                                            1
missing                                         0

###  Top N:

                                                party.uri
/ie/oireachtas/party/dail/27/Fianna_Fáil                1
/ie/oireachtas/party/dail/7/Independent                 1
/ie/oireachtas/party/dail/17/Labour_Party               1
/ie/oireachtas/party/dail/10/Fianna_Fáil                1
/ie/oireachtas/party/seanad/23/Fianna_Fáil              1
/ie/oireachtas/party/dail/6/Independent                 1
/ie/oireachtas/party/seanad/4/Clann_na_Talmhan          1
/ie/oireachtas/party/dail/10/Ceann_Comhairle            1
/ie/oireachtas/party/dail/16/Clann_na_Talmhan           1
/ie/oireachtas/party/seanad/25/Independent              1

----------

# constituencyOrPanel.representCode

###  Stats:

        constituencyOrPanel.representCode
count                                1436
unique                                198
top        National-University-of-Ireland
freq                                   32
missing                                 0

###  Top N:

                                constituencyOrPanel.representCode
National-University-of-Ireland                                 32
Wexford                                                        31
Clare                                                          31
Louth                                                          30
Wicklow                                                        29
Waterford                                                      29
Carlow–Kilkenny                                                26
University-of-Dublin                                           25
Labour-Panel                                                   24
Galway-West                                                    24

----------

# constituencyOrPanel.representType

###  Stats:

        constituencyOrPanel.representType
count                                1436
unique                                  2
top                          constituency
freq                                 1236
missing                                 0

###  Top N:

              constituencyOrPanel.representType
constituency                               1236
panel                                       200

----------

# constituencyOrPanel.showAs

###  Stats:

             constituencyOrPanel.showAs
count                              1436
unique                              198
top      National University of Ireland
freq                                 32
missing                               0

###  Top N:

                                constituencyOrPanel.showAs
National University of Ireland                          32
Wexford                                                 31
Clare                                                   31
Louth                                                   30
Waterford                                               29
Wicklow                                                 29
Carlow–Kilkenny                                         26
University of Dublin                                    25
Kerry South                                             24
Nominated by the Taoiseach                              24

----------

# constituencyOrPanel.uri

###  Stats:

                                constituencyOrPanel.uri
count                                              1436
unique                                             1435
top      /ie/oireachtas/house/dail/3/constituency/Cavan
freq                                                  2
missing                                               0

###  Top N:

                                                    constituencyOrPanel.uri
/ie/oireachtas/house/dail/3/constituency/Cavan                            2
/ie/oireachtas/house/seanad/10/panel/University...                        1
/ie/oireachtas/house/dail/18/constituency/Wexford                         1
/ie/oireachtas/house/dail/10/constituency/Dubli...                        1
/ie/oireachtas/house/dail/21/constituency/Dubli...                        1
/ie/oireachtas/house/dail/26/constituency/Dubli...                        1
/ie/oireachtas/house/dail/5/constituency/Cork-West                        1
/ie/oireachtas/house/dail/24/constituency/Tippe...                        1
/ie/oireachtas/house/seanad/12/panel/Nominated-...                        1
/ie/oireachtas/house/dail/17/constituency/Dubli...                        1